{% extends "blogapp/base.html" %}
{% load static %}
{% block title %} about {% endblock title %}
{% block content %}
<div class="col-sm-10">
    <h3 class="my-4">About Page</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Fugiat consectetur cum cumque necessitatibus quidem! Ea 
        dolor provident enim repellendus. Ratione beatae quibusdam 
        iusto fugit unde veritatis illum quae quis fugiat.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Quia exercitationem eos natus deleniti hic iusto expedita, 
        tempore deserunt animi vitae, porro laboriosam tenetur 
        voluptatibus quam, laborum numquam labore harum sed.
    </p>

</div>

{% endblock content %}